@using BlazorWebApp.Models
@using BlazorWebApp.Services
@using BlazorWebApp.Utils
@using System
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inherits BlazorWebApp.Components.Shared.LocalizedComponentBase
@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject ITreeMenuService    TreeMenuService
@inject IOptions<StubTenantProviderOptions> TenantOptions
@inject IStringLocalizer<NavMenu> L
@inject ICommentService CommentService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWebApp</a>
    </div>
</div>

<input
    type="checkbox"
    title='@L["Navigation menu"]'
    class="navbar-toggler"
    @bind="isMenuOpen" />

<div class="nav-scrollable" @onclick="CollapseMenu">
    <nav class="nav flex-column">

        <!-- CMS tree (always visible) -->
        <div class="nav-item px-3">
            @if (!hasDefaultTenant)
            {
                <em>@L["NoDefaultTenant"]</em>
            }
            else if (treeItems is null)
            {
                <em>@L["Loading…"]</em>
            }
            else
            {
                <TreeMenu Items="treeItems" Prefix="@cmsPrefix" />
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/leave-comment" Match="NavLinkMatch.All">
                <span aria-hidden="true"
                      style="display:inline-block;
                             width:16px;
                             height:16px;
                             -webkit-mask: url('./lib/bootstrap-icons/icons/people.svg') no-repeat center/contain;
                             mask: url('./lib/bootstrap-icons/icons/people.svg') no-repeat center/contain;
                             background-color: white;
                             margin-right:0.5rem;">
                </span> @L["Leave Comment"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/calendar" Match="NavLinkMatch.All">
                <span aria-hidden="true"
                      style="display:inline-block;
                             width:16px;
                             height:16px;
                             -webkit-mask: url('./lib/bootstrap-icons/icons/calendar-event.svg') no-repeat center/contain;
                             mask: url('./lib/bootstrap-icons/icons/calendar-event.svg') no-repeat center/contain;
                             background-color: white;
                             margin-right:0.5rem;">
                </span> @L["Calendar"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/date-picker-demo" Match="NavLinkMatch.All">
                <span aria-hidden="true"
                      style="display:inline-block;
                             width:16px;
                             height:16px;
                             -webkit-mask: url('./lib/bootstrap-icons/icons/calendar-event.svg') no-repeat center/contain;
                             mask: url('./lib/bootstrap-icons/icons/calendar-event.svg') no-repeat center/contain;
                             background-color: white;
                             margin-right:0.5rem;">
                </span> @L["Date Picker Demo"]
            </NavLink>
        </div>
        <!-- Dashboard (only for logged-in users) -->
        <AuthorizeView>
          <Authorized>
            <div class="nav-item px-3 position-relative">
                <NavLink class="nav-link position-relative" href="/dashboard" Match="NavLinkMatch.All">
                    <span aria-hidden="true"
                          style="display:inline-block;
                                 width:16px;
                                 height:16px;
                                 -webkit-mask: url('./lib/bootstrap-icons/icons/house-door-fill.svg') no-repeat center/contain;
                                 mask: url('./lib/bootstrap-icons/icons/house-door-fill.svg') no-repeat center/contain;
                                 background-color: white;
                                 margin-right:0.5rem;">
                    </span> @L["Dashboard"]
                    @if (unreadCount > 0)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@unreadCount</span>
                    }
                </NavLink>
            </div>
          </Authorized>
        </AuthorizeView>

        <!-- Publication links (only for logged-in users) -->
        <AuthorizeView>
          <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link"
                         href='@CmsRoutes.CombinePrefixed(cmsPrefix, "_publications")'
                         Match="NavLinkMatch.All">

                  <span aria-hidden="true"
                        style="display:inline-block;
                               width:16px;
                               height:16px;
                               -webkit-mask: url('./lib/bootstrap-icons/icons/book.svg') no-repeat center/contain;
                               mask: url('./lib/bootstrap-icons/icons/book.svg') no-repeat center/contain;
                               background-color: white;
                               margin-right:0.5rem;">
                  </span>
                    
                    @L["Publications"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href='@CmsRoutes.CombinePrefixed(cmsPrefix, "_editor")'>
                    <span aria-hidden="true"
                          style="display:inline-block;
                                 width:16px;
                                 height:16px;
                                 -webkit-mask: url('./lib/bootstrap-icons/icons/plus-circle.svg') no-repeat center/contain;
                                 mask: url('./lib/bootstrap-icons/icons/plus-circle.svg') no-repeat center/contain;
                                 background-color: white;
                                 margin-right:0.5rem;">
                    </span> @L["New Publication"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href='@CmsRoutes.CombinePrefixed(cmsPrefix, "_categories")'>
                    <span aria-hidden="true"
                          style="display:inline-block;
                                 width:16px;
                                 height:16px;
                                 -webkit-mask: url('./lib/bootstrap-icons/icons/folder.svg') no-repeat center/contain;
                                 mask: url('./lib/bootstrap-icons/icons/folder.svg') no-repeat center/contain;
                                 background-color: white;
                                 margin-right:0.5rem;">
                    </span> @L["Categories"]
                </NavLink>
            </div>
            <AuthorizeView Roles="Admin" Context="adminCtx">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href='@CmsRoutes.CombinePrefixed(cmsPrefix, "_users")'>
                        <span aria-hidden="true"
                              style="display:inline-block;
                                     width:16px;
                                     height:16px;
                                     -webkit-mask: url('./lib/bootstrap-icons/icons/people.svg') no-repeat center/contain;
                                     mask: url('./lib/bootstrap-icons/icons/people.svg') no-repeat center/contain;
                                     background-color: white;
                                     margin-right:0.5rem;">
                        </span> @L["Users"]
                    </NavLink>
                </div>
            </AuthorizeView>
          </Authorized>
        </AuthorizeView>

        <!-- Account links -->
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span aria-hidden="true"
                              style="display:inline-block;
                                     width:16px;
                                     height:16px;
                                     -webkit-mask: url('./lib/bootstrap-icons/icons/person-fill.svg') no-repeat center/contain;
                                     mask: url('./lib/bootstrap-icons/icons/person-fill.svg') no-repeat center/contain;
                                     background-color: white;
                                     margin-right:0.5rem;">
                        </span>
                        @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span aria-hidden="true"
                              style="display:inline-block;
                                     width:16px;
                                     height:16px;
                                     -webkit-mask: url('./lib/bootstrap-icons/icons/person.svg') no-repeat center/contain;
                                     mask: url('./lib/bootstrap-icons/icons/person.svg') no-repeat center/contain;
                                     background-color: white;
                                     margin-right:0.5rem;">
                        </span> @L["Register"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span aria-hidden="true"
                              style="display:inline-block;
                                     width:16px;
                                     height:16px;
                                     -webkit-mask: url('./lib/bootstrap-icons/icons/person-badge.svg') no-repeat center/contain;
                                     mask: url('./lib/bootstrap-icons/icons/person-badge.svg') no-repeat center/contain;
                                     background-color: white;
                                     margin-right:0.5rem;">
                        </span> @L["Login"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <button type="submit" class="nav-link">
                            <span aria-hidden="true"
                                  style="display:inline-block;
                                         width:16px;
                                         height:16px;
                                         -webkit-mask: url('./lib/bootstrap-icons/icons/arrow-bar-left.svg') no-repeat center/contain;
                                         mask: url('./lib/bootstrap-icons/icons/arrow-bar-left.svg') no-repeat center/contain;
                                         background-color: white;
                                         margin-right:0.5rem;">
                            </span> @L["Logout"]
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private string? currentUrl;
    private List<MenuItemDto>? treeItems;
    private bool isMenuOpen;
    private bool hasDefaultTenant;
    private string cmsPrefix = string.Empty;
    private int commentCount;
    private Action? _cultureChangedHandler;
    private Action<int>? _unreadChangedHandler;
    private int unreadCount;

    private async Task LoadMenuAsync()
    {
        if (hasDefaultTenant)
        {
            treeItems = await TreeMenuService.GetMenuAsync();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        hasDefaultTenant = !string.IsNullOrWhiteSpace(TenantOptions.Value.DefaultTenantSlug);
        _cultureChangedHandler = async () => await LoadMenuAsync();
        Localization.OnChange += _cultureChangedHandler;
        await LoadMenuAsync();

        unreadCount = await CommentService.CountUnreadAsync();
        _unreadChangedHandler = count => { unreadCount = count; InvokeAsync(StateHasChanged); };
        CommentService.OnUnreadCountChanged += _unreadChangedHandler;
    }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        cmsPrefix = CmsRoutes.ExtractPrefix(currentUrl);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        cmsPrefix = CmsRoutes.ExtractPrefix(currentUrl);
        StateHasChanged();
    }

    private Task CollapseMenu(MouseEventArgs _)
    {
        // Un-check the hamburger to collapse on mobile
        isMenuOpen = false;
        return Task.CompletedTask;
    }

    public new void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        if (_cultureChangedHandler != null)
        {
            Localization.OnChange -= _cultureChangedHandler;
        }
        if (_unreadChangedHandler != null)
        {
            CommentService.OnUnreadCountChanged -= _unreadChangedHandler;
        }
        base.Dispose();
    }
}