@using System.Collections.Generic
@using BlazorWebApp.Models
@using Microsoft.AspNetCore.Components

<ul class="nav flex-column tree-menu">
    @foreach (var item in Items)
    {
        // compute expanded state and classes
        var expanded = IsExpanded(item);
        var arrowClass = expanded ? "bi-caret-down-fill" : "bi-caret-right-fill";
        var collapseClass = expanded ? "collapse show" : "collapse";

        <li class="nav-item">
            @if (item.Children != null && item.Children.Count > 0)
            {
                <button class="nav-link d-flex justify-content-between align-items-center"
                        @onclick="() => Toggle(item)">
                    <span><i class="@item.IconCss"></i> @item.Title</span>
                    <i class="bi @(arrowClass)"></i>
                </button>
                <ul class="nav flex-column ps-3 @(collapseClass)">
                    <TreeMenu Items="item.Children" />
                </ul>
            }
            else
            {
                <NavLink class="nav-link" href="#">
                    <i class="@item.IconCss"></i> @item.Title
                </NavLink>
            }
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<MenuItemDto> Items { get; set; } = new();

    private HashSet<MenuItemDto> _expanded = new();

    private void Toggle(MenuItemDto item)
    {
        if (_expanded.Contains(item))
            _expanded.Remove(item);
        else
            _expanded.Add(item);
    }

    private bool IsExpanded(MenuItemDto item)
        => _expanded.Contains(item);
}
